<div class='error_container'>
  <center>
  <% if @is_admin %>
    <h1>You dont have user role!</h1>
  <% else %>
   <h1>You dont have admin role!</h1>
  <% end %>
  <a class="dropdown-item" data-method="delete"  href="/users/sign_out"><i class="dropdown-icon icmn-exit"></i>Logout</a>
  </center>
</div>
