<div class='error_container'>
  <center>
  <h1>You dont have admin role!</h1>
  <a class="dropdown-item" data-method="delete"  href="/users/sign_out"><i class="dropdown-icon icmn-exit"></i>Logout</a>
  </center>
</div>
