<div class='index_container'>
  <center>
  <h1>List of Posts</h1>
  <br/>
  <% @posts.each do |post| %>
  <p><%= link_to "#{post.title}", admin_post_path(post.id) %></p>
  <% end %>
  __________________<br/>
  <%= link_to 'Create new post', new_admin_post_path %>
  </center>
</div>
